<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Upload new song</h1>
<table>
    <form th:action="@{/upload}" method="post" th:object="${songs}" enctype="multipart/form-data">
        <tr>
            <td>
                Name of song:
            </td>
            <td>
                <input type="text" th:field="*{name}"/>
            </td>
        </tr>
        <tr>
            <td>
                Singer:
            </td>
            <td>
                <input type="text" th:field="*{singer}"/>
            </td>
        </tr>
        <tr>
            <td>
                Type of song:
            </td>
            <td>
                <input type="text" th:field="*{type}"/>
            </td>
        </tr>
        <tr>
            <td>
                Song:
            </td>
            <td>
                <input type="file" th:field="*{song}" required/>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit">Upload</button>
            </td>
    </form>
    <td>
        <a th:href="@{/}">
            <button type="submit">Cancel</button>
        </a>
    </td>
    </tr>
</table>
</body>
</html>